.big-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}


.row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item {
    background: wheat;
    color: black;
    height: 75px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border: 1px solid black;
}
.item-number {
    width: 25%;
}

.item-ac {
    width: 75%;
    padding-left: 3px; /*because of padding */
}

.item-display {
    width: 100%
}

.item-zero {
    width: 50%;
    padding-left: 2px;
}

