.big-container {
    display: flex;
    background-color: brown;
    flex-direction: column;
    width: 500px;
    height: 500px;
}


.row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: green;
}

.item {
    background: wheat;
    color: black;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 3em;
    margin: auto;
    font-weight: bold;
}